Proyecto Machine Learning 

La primera accion realizada es el import de librerias y se define ademas el nombre de las columnas, labels y por ultimo la ruta donde se debe encontrar el archivo

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
#matplotlib.use('Agg')   # Use Agg backend to save figures
import matplotlib.pyplot as plt

In [4]:
COLUMN_NAMES = [
    'user',
    'activity',
    'timestamp',
    'x-axis',
    'y-axis',
    'z-axis'
]

LABELS = [
    'Downstairs',
    'Jogging',
    'Sitting',
    'Standing',
    'Upstairs',
    'Walking'
]

DATA_PATH = 'data/WISDM_ar_v1.1_raw.txt'

Usando pandas definimos un dataset con la direccion y el nombre de las columnas como atributo

In [5]:
data = pd.read_csv(DATA_PATH, header=None, names=COLUMN_NAMES)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1098204 entries, 0 to 1098203
Data columns (total 6 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user       1098204 non-null  int64
 1   activity   1098204 non-null  object
 2   timestamp  1098204 non-null  int64
 3   x-axis     1098204 non-null  float64
 4   y-axis     1098204 non-null  float64
 5   z-axis     1098203 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 50.3+ MB

In [7]:
data['z-axis'].replace(regex= True,
                      inplace = True,
                      to_replace = r';',
                      value = r'')

Se convierten los datos a float y ademas se eliminan los valores nulos mediante dropna

In [10]:
def convertir_a_float(x):
    try:
        return np.float(x)
    except:
        return np.nam
    
data['z-axis'] = data['z-axis'].apply(convertir_a_float)
data.dropna(axis=0, how='any', inplace=True)

In [11]:
print('Number of columns in the dataframe: %i' % (data.shape[1]))
print('Number of rows in the dataframe: %i\n' % (data.shape[0]))

data.head(10)

Number of columns in the dataframe: 6
Number of rows in the dataframe: 1098203

   user activity       timestamp    x-axis     y-axis    z-axis
0    33  Jogging  49105962326000 -0.694638  12.680544  0.503953
1    33  Jogging  49106062271000  5.012288  11.264028  0.953424
2    33  Jogging  49106112167000  4.903325  10.882658 -0.081722
3    33  Jogging  49106222305000 -0.612916  18.496431  3.023717
4    33  Jogging  49106332290000 -1.184970  12.108489  7.205164
5    33  Jogging  49106442306000  1.375655  -2.492524 -6.510526
6    33  Jogging  49106542312000 -0.612916  10.569390  5.706926
7    33  Jogging  49106652389000 -0.503953  13.947236  7.055340
8    33  Jogging  49106762313000 -8.430995  11.413852  5.134871
9    33  Jogging  49106872299000  0.953424   1.375655  1.648062

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1098203 entries, 0 to 1098203
Data columns (total 6 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user       1098203 non-null  int64
 1   activity   1098203 non-null  object
 2   timestamp  1098203 non-null  int64
 3   x-axis     1098203 non-null  float64
 4   y-axis     1098203 non-null  float64
 5   z-axis     1098203 non-null  float64
dtypes: float64(3), int64(2), object(1)
memory usage: 58.7+ MB

Elimino columnas que no utilizare para la clasificacion.

In [13]:
data.drop(['user','timestamp'], axis=1)

        activity    x-axis     y-axis    z-axis
0        Jogging -0.694638  12.680544  0.503953
1        Jogging  5.012288  11.264028  0.953424
2        Jogging  4.903325  10.882658 -0.081722
3        Jogging -0.612916  18.496431  3.023717
4        Jogging -1.184970  12.108489  7.205164
...          ...       ...        ...       ...
1098199  Sitting  9.000000  -1.570000  1.690000
1098200  Sitting  9.040000  -1.460000  1.730000
1098201  Sitting  9.080000  -1.380000  1.690000
1098202  Sitting  9.000000  -1.460000  1.730000
1098203  Sitting  8.880000  -1.330000  1.610000

[1098203 rows x 4 columns]

Realizo un conteo de las actividades.

In [23]:
occur = data.groupby(['activity']).size()
 
# display occurrences of a particular column
display(occur)

activity
Downstairs    100427
Jogging       342176
Sitting        59939
Standing       48395
Upstairs      122869
Walking       424397
dtype: int64

In [25]:
data.shape

(1098203, 6)

balanceamos el Data frame a la baja, por lo que el data frame debera tener 48.939 datos por columna

obtenemos la variable dependiente e independiente para el modelo